<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

  <logger name="ca.qc.ircm.htstools" level="TRACE" />
  <logger name="ca.qc.ircm.htstools.test.config" level="INFO" />
  <logger name="org.springframework" level="INFO"/>
</configuration>
